body {
    background-color: rgb(140, 235, 135);
}

.header {
    background-image: url("../images/headerbackground.jpg");
    background-size: cover;
    color: white;
    padding-top: 15%
}

.title {
    background-color: rgb(3, 59, 3);
}

.navbar {
    background-color: rgb(3, 59, 3);
    color: white;

}

.navbar a {
    color: white;
}

.active {
    color: white !important;
    text-decoration: underline !important;
}

.navbar a:hover {
    color: white !important;
    text-decoration: underline !important;
}